USE [master]
GO
/****** Object:  Database [TelecomDataBase]    Script Date: 17.04.2026 19:44:42 ******/
CREATE DATABASE [TelecomDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TelecomDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TelecomDataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TelecomDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TelecomDataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TelecomDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TelecomDataBase]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StreetId] [int] NOT NULL,
	[HouseNumber] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[ContractNumber] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[AddressId] [int] NULL,
 CONSTRAINT [PK__Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Connections]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Connections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaticIp] [nvarchar](45) NOT NULL,
	[ClientId] [int] NOT NULL,
	[PortId] [int] NOT NULL,
	[TariffId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Connections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DevicePorts]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevicePorts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NOT NULL,
	[PortName] [nvarchar](50) NULL,
	[VlanId] [int] NULL,
	[IsUplink] [bit] NOT NULL,
 CONSTRAINT [PK__DevicePorts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceTypes]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__DeviceType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK__Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitoringEvents]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitoringEvents](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NOT NULL,
	[CheckedAt] [datetime] NOT NULL,
	[IsOnline] [bit] NOT NULL,
	[ResponseTimeMs] [int] NULL,
	[EventTypeId] [int] NOT NULL,
 CONSTRAINT [PK_MonitoringEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitoringEventTypes]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitoringEventTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MonitoringEventTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MountingPoints]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MountingPoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AddressId] [int] NOT NULL,
	[PointTypeId] [int] NOT NULL,
	[SpotTypeId] [int] NULL,
	[LocationDescription] [nvarchar](255) NULL,
	[MountingDate] [date] NULL,
 CONSTRAINT [PK__MountingPoints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MountingPointTypes]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MountingPointTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__MountingPointTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MountingSpotTypes]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MountingSpotTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MountingSpotTypes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NetworkDevices]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetworkDevices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[DeviceTypeId] [int] NOT NULL,
	[IpAddress] [nvarchar](45) NOT NULL,
	[SnmpProfileId] [int] NULL,
	[MountingPointId] [int] NULL,
	[ParentDeviceId] [int] NULL,
	[IsMonitored] [bit] NULL,
	[InstallationDate] [date] NULL,
 CONSTRAINT [PK__NetworkDevices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[TypeId] [int] NOT NULL,
	[StatusId] [int] NULL,
	[ClientId] [int] NOT NULL,
	[DeviceId] [int] NULL,
	[EmployeeId] [int] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__Requests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestStatuses]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__RequestStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestsTypes]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestsTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_RequestsTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SnmpProfiles]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnmpProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Community] [nvarchar](255) NOT NULL,
	[Port] [int] NOT NULL,
	[Version] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_SnmpProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Streets]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Streets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Streets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tariffs]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tariffs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[MonthlyFee] [numeric](18, 2) NULL,
 CONSTRAINT [PK__Tariffs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TariffServices]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TariffServices](
	[TariffId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
 CONSTRAINT [PK_TariffServices] PRIMARY KEY CLUSTERED 
(
	[TariffId] ASC,
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vlans]    Script Date: 17.04.2026 19:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vlans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[VlanTag] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Vlans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([Id], [StreetId], [HouseNumber]) VALUES (1, 1, N'46')
INSERT [dbo].[Addresses] ([Id], [StreetId], [HouseNumber]) VALUES (7, 3, N'7А')
INSERT [dbo].[Addresses] ([Id], [StreetId], [HouseNumber]) VALUES (8, 1, N'52')
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Name]) VALUES (1, N'г. Амурск')
INSERT [dbo].[Cities] ([Id], [Name]) VALUES (3, N'г. Хабаровск')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([Id], [LastName], [FirstName], [MiddleName], [ContractNumber], [PhoneNumber], [AddressId]) VALUES (3, N'Шумаков', N'Виктор', N'Васильевич', N'25-0001', NULL, 7)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceTypes] ON 

INSERT [dbo].[DeviceTypes] ([Id], [TypeName]) VALUES (1, N'Маршрутизатор')
INSERT [dbo].[DeviceTypes] ([Id], [TypeName]) VALUES (2, N'Коммутатор')
SET IDENTITY_INSERT [dbo].[DeviceTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [FirstName], [LastName], [MiddleName], [UserId]) VALUES (1, N'Вадим', N'Шумаков', N'Юрьевич', 1)
INSERT [dbo].[Employees] ([Id], [FirstName], [LastName], [MiddleName], [UserId]) VALUES (2, N'Шумаков', N'Виктор', N'Евгеньевич', 2)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[MountingPoints] ON 

INSERT [dbo].[MountingPoints] ([Id], [AddressId], [PointTypeId], [SpotTypeId], [LocationDescription], [MountingDate]) VALUES (3, 1, 1, NULL, N'Чердак', NULL)
INSERT [dbo].[MountingPoints] ([Id], [AddressId], [PointTypeId], [SpotTypeId], [LocationDescription], [MountingDate]) VALUES (4, 7, 1, NULL, N'Чердак', NULL)
INSERT [dbo].[MountingPoints] ([Id], [AddressId], [PointTypeId], [SpotTypeId], [LocationDescription], [MountingDate]) VALUES (5, 8, 1, NULL, N'Подвал, ключи на стойке', NULL)
SET IDENTITY_INSERT [dbo].[MountingPoints] OFF
GO
SET IDENTITY_INSERT [dbo].[MountingPointTypes] ON 

INSERT [dbo].[MountingPointTypes] ([Id], [Name]) VALUES (1, N'Ящик')
INSERT [dbo].[MountingPointTypes] ([Id], [Name]) VALUES (2, N'Узел')
SET IDENTITY_INSERT [dbo].[MountingPointTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[NetworkDevices] ON 

INSERT [dbo].[NetworkDevices] ([Id], [Name], [DeviceTypeId], [IpAddress], [SnmpProfileId], [MountingPointId], [ParentDeviceId], [IsMonitored], [InstallationDate]) VALUES (5, N'amk-pobeda-asw2', 2, N'192.168.3.21', 1, 5, 7, 1, CAST(N'2026-04-08' AS Date))
INSERT [dbo].[NetworkDevices] ([Id], [Name], [DeviceTypeId], [IpAddress], [SnmpProfileId], [MountingPointId], [ParentDeviceId], [IsMonitored], [InstallationDate]) VALUES (7, N'amk-pobeda-dsw1', 2, N'192.168.3.10', 1, 3, NULL, 1, CAST(N'2026-04-12' AS Date))
INSERT [dbo].[NetworkDevices] ([Id], [Name], [DeviceTypeId], [IpAddress], [SnmpProfileId], [MountingPointId], [ParentDeviceId], [IsMonitored], [InstallationDate]) VALUES (11, N'amk-pobeda-asw1', 2, N'192.168.3.20', 2, 4, 7, 1, CAST(N'2026-04-12' AS Date))
SET IDENTITY_INSERT [dbo].[NetworkDevices] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Administrator')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Manager')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'SysAdmin')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id], [Name], [Description]) VALUES (2, N'Подключение', N'123')
INSERT [dbo].[Services] ([Id], [Name], [Description]) VALUES (3, N'Ночное ускорение', NULL)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[SnmpProfiles] ON 

INSERT [dbo].[SnmpProfiles] ([Id], [Name], [Community], [Port], [Version]) VALUES (1, N'Cisco IOL', N'public', 161, N'2')
INSERT [dbo].[SnmpProfiles] ([Id], [Name], [Community], [Port], [Version]) VALUES (2, N'ADVENTERPISEK9-M', N'public', 161, N'2')
INSERT [dbo].[SnmpProfiles] ([Id], [Name], [Community], [Port], [Version]) VALUES (3, N'123', N'public', 123, N'2')
SET IDENTITY_INSERT [dbo].[SnmpProfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Streets] ON 

INSERT [dbo].[Streets] ([Id], [CityId], [Name]) VALUES (1, 1, N'ул. Строителей')
INSERT [dbo].[Streets] ([Id], [CityId], [Name]) VALUES (3, 1, N'пр-кт. Октябрьский')
INSERT [dbo].[Streets] ([Id], [CityId], [Name]) VALUES (4, 3, N'ул. Амурская')
SET IDENTITY_INSERT [dbo].[Streets] OFF
GO
SET IDENTITY_INSERT [dbo].[Tariffs] ON 

INSERT [dbo].[Tariffs] ([Id], [Name], [MonthlyFee]) VALUES (1, N'Стандартный', CAST(150.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[Tariffs] OFF
GO
INSERT [dbo].[TariffServices] ([TariffId], [ServiceId]) VALUES (1, 2)
INSERT [dbo].[TariffServices] ([TariffId], [ServiceId]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [RoleId], [CreatedAt], [IsActive]) VALUES (1, N'admin', N'21232F297A57A5A743894A0E4A801FC3', 1, CAST(N'2026-04-07T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [RoleId], [CreatedAt], [IsActive]) VALUES (2, N'manager', N'1D0258C2440A8D19E716292B231E3190', 2, CAST(N'2026-04-08T20:23:46.097' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Cities__Name]    Script Date: 17.04.2026 19:44:42 ******/
ALTER TABLE [dbo].[Cities] ADD  CONSTRAINT [UQ__Cities__Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clients__ContractNumber]    Script Date: 17.04.2026 19:44:42 ******/
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [UQ__Clients__ContractNumber] UNIQUE NONCLUSTERED 
(
	[ContractNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Connections_Ports]    Script Date: 17.04.2026 19:44:42 ******/
ALTER TABLE [dbo].[Connections] ADD  CONSTRAINT [UQ__Connections_Ports] UNIQUE NONCLUSTERED 
(
	[PortId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Employees__User]    Script Date: 17.04.2026 19:44:42 ******/
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [UQ__Employees__User] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MonitoringEvents_Device_Time]    Script Date: 17.04.2026 19:44:42 ******/
CREATE NONCLUSTERED INDEX [IX_MonitoringEvents_Device_Time] ON [dbo].[MonitoringEvents]
(
	[CheckedAt] DESC,
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NetworkDevice_IpAddress]    Script Date: 17.04.2026 19:44:42 ******/
ALTER TABLE [dbo].[NetworkDevices] ADD  CONSTRAINT [UQ__NetworkDevice_IpAddress] UNIQUE NONCLUSTERED 
(
	[IpAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RequestStatuses__Name]    Script Date: 17.04.2026 19:44:42 ******/
ALTER TABLE [dbo].[RequestStatuses] ADD  CONSTRAINT [UQ__RequestStatuses__Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__Name]    Script Date: 17.04.2026 19:44:42 ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [UQ__Roles__Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825BDB28843E]    Script Date: 17.04.2026 19:44:42 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__5E55825BDB28843E] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Vlans_VlanTag]    Script Date: 17.04.2026 19:44:42 ******/
ALTER TABLE [dbo].[Vlans] ADD  CONSTRAINT [UQ_Vlans_VlanTag] UNIQUE NONCLUSTERED 
(
	[VlanTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Connections] ADD  CONSTRAINT [DF__Connectio__IsAct__7D439ABD]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DevicePorts] ADD  CONSTRAINT [DF__DevicePor__IsUpl__6477ECF3]  DEFAULT ((0)) FOR [IsUplink]
GO
ALTER TABLE [dbo].[MountingPoints] ADD  CONSTRAINT [DF_MountingPoints_MountingDate]  DEFAULT (getdate()) FOR [MountingDate]
GO
ALTER TABLE [dbo].[NetworkDevices] ADD  CONSTRAINT [DF__NetworkDe__IsMon__5DCAEF64]  DEFAULT ((1)) FOR [IsMonitored]
GO
ALTER TABLE [dbo].[Requests] ADD  CONSTRAINT [DF__Requests__Create__0A9D95DB]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tariffs] ADD  DEFAULT ((0)) FOR [MonthlyFee]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__CreatedAt__6C190EBB]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsActive__6D0D32F4]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK__Addresses__Stree__5070F446] FOREIGN KEY([StreetId])
REFERENCES [dbo].[Streets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK__Addresses__Stree__5070F446]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK__Clients__Address__797309D9] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK__Clients__Address__797309D9]
GO
ALTER TABLE [dbo].[Connections]  WITH CHECK ADD  CONSTRAINT [FK__Connectio__Clien__7F2BE32F] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Connections] CHECK CONSTRAINT [FK__Connectio__Clien__7F2BE32F]
GO
ALTER TABLE [dbo].[Connections]  WITH CHECK ADD  CONSTRAINT [FK__Connectio__PortI__00200768] FOREIGN KEY([PortId])
REFERENCES [dbo].[DevicePorts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Connections] CHECK CONSTRAINT [FK__Connectio__PortI__00200768]
GO
ALTER TABLE [dbo].[Connections]  WITH CHECK ADD  CONSTRAINT [FK__Connectio__Tarif__01142BA1] FOREIGN KEY([TariffId])
REFERENCES [dbo].[Tariffs] ([Id])
GO
ALTER TABLE [dbo].[Connections] CHECK CONSTRAINT [FK__Connectio__Tarif__01142BA1]
GO
ALTER TABLE [dbo].[DevicePorts]  WITH CHECK ADD  CONSTRAINT [FK__DevicePor__Devic__656C112C] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[NetworkDevices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DevicePorts] CHECK CONSTRAINT [FK__DevicePor__Devic__656C112C]
GO
ALTER TABLE [dbo].[DevicePorts]  WITH CHECK ADD  CONSTRAINT [FK_DevicePorts_Vlans] FOREIGN KEY([VlanId])
REFERENCES [dbo].[Vlans] ([Id])
GO
ALTER TABLE [dbo].[DevicePorts] CHECK CONSTRAINT [FK_DevicePorts_Vlans]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK__Employees__UserI__71D1E811] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK__Employees__UserI__71D1E811]
GO
ALTER TABLE [dbo].[MonitoringEvents]  WITH CHECK ADD  CONSTRAINT [FK_MonitoringEvents_MonitoringEventTypes] FOREIGN KEY([EventTypeId])
REFERENCES [dbo].[MonitoringEventTypes] ([Id])
GO
ALTER TABLE [dbo].[MonitoringEvents] CHECK CONSTRAINT [FK_MonitoringEvents_MonitoringEventTypes]
GO
ALTER TABLE [dbo].[MonitoringEvents]  WITH CHECK ADD  CONSTRAINT [FK_MonitoringEvents_NetworkDevices] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[NetworkDevices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonitoringEvents] CHECK CONSTRAINT [FK_MonitoringEvents_NetworkDevices]
GO
ALTER TABLE [dbo].[MountingPoints]  WITH CHECK ADD  CONSTRAINT [FK__MountingP__Addre__5629CD9C] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MountingPoints] CHECK CONSTRAINT [FK__MountingP__Addre__5629CD9C]
GO
ALTER TABLE [dbo].[MountingPoints]  WITH CHECK ADD  CONSTRAINT [FK__MountingP__Point__571DF1D5] FOREIGN KEY([PointTypeId])
REFERENCES [dbo].[MountingPointTypes] ([Id])
GO
ALTER TABLE [dbo].[MountingPoints] CHECK CONSTRAINT [FK__MountingP__Point__571DF1D5]
GO
ALTER TABLE [dbo].[MountingPoints]  WITH CHECK ADD  CONSTRAINT [FK_MountingPoints_MountingSpotTypes] FOREIGN KEY([SpotTypeId])
REFERENCES [dbo].[MountingSpotTypes] ([id])
GO
ALTER TABLE [dbo].[MountingPoints] CHECK CONSTRAINT [FK_MountingPoints_MountingSpotTypes]
GO
ALTER TABLE [dbo].[NetworkDevices]  WITH CHECK ADD  CONSTRAINT [FK__NetworkDe__Devic__5FB337D6] FOREIGN KEY([DeviceTypeId])
REFERENCES [dbo].[DeviceTypes] ([Id])
GO
ALTER TABLE [dbo].[NetworkDevices] CHECK CONSTRAINT [FK__NetworkDe__Devic__5FB337D6]
GO
ALTER TABLE [dbo].[NetworkDevices]  WITH CHECK ADD  CONSTRAINT [FK__NetworkDe__Mount__60A75C0F] FOREIGN KEY([MountingPointId])
REFERENCES [dbo].[MountingPoints] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NetworkDevices] CHECK CONSTRAINT [FK__NetworkDe__Mount__60A75C0F]
GO
ALTER TABLE [dbo].[NetworkDevices]  WITH CHECK ADD  CONSTRAINT [FK__NetworkDe__Paren__619B8048] FOREIGN KEY([ParentDeviceId])
REFERENCES [dbo].[NetworkDevices] ([Id])
GO
ALTER TABLE [dbo].[NetworkDevices] CHECK CONSTRAINT [FK__NetworkDe__Paren__619B8048]
GO
ALTER TABLE [dbo].[NetworkDevices]  WITH CHECK ADD  CONSTRAINT [FK_NetworkDevices_SnmpProfiles] FOREIGN KEY([SnmpProfileId])
REFERENCES [dbo].[SnmpProfiles] ([Id])
GO
ALTER TABLE [dbo].[NetworkDevices] CHECK CONSTRAINT [FK_NetworkDevices_SnmpProfiles]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK__Requests__Client__0C85DE4D] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK__Requests__Client__0C85DE4D]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK__Requests__Device__0D7A0286] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[NetworkDevices] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK__Requests__Device__0D7A0286]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK__Requests__Employ__0E6E26BF] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK__Requests__Employ__0E6E26BF]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK__Requests__Status__0B91BA14] FOREIGN KEY([StatusId])
REFERENCES [dbo].[RequestStatuses] ([Id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK__Requests__Status__0B91BA14]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_RequestsTypes] FOREIGN KEY([TypeId])
REFERENCES [dbo].[RequestsTypes] ([Id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_RequestsTypes]
GO
ALTER TABLE [dbo].[Streets]  WITH CHECK ADD  CONSTRAINT [FK__Streets__CityId__4D94879B] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Streets] CHECK CONSTRAINT [FK__Streets__CityId__4D94879B]
GO
ALTER TABLE [dbo].[TariffServices]  WITH CHECK ADD  CONSTRAINT [FK_TariffServices_Services] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
GO
ALTER TABLE [dbo].[TariffServices] CHECK CONSTRAINT [FK_TariffServices_Services]
GO
ALTER TABLE [dbo].[TariffServices]  WITH CHECK ADD  CONSTRAINT [FK_TariffServices_Tariffs] FOREIGN KEY([TariffId])
REFERENCES [dbo].[Tariffs] ([Id])
GO
ALTER TABLE [dbo].[TariffServices] CHECK CONSTRAINT [FK_TariffServices_Tariffs]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__RoleId__6E01572D] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__RoleId__6E01572D]
GO
USE [master]
GO
